{%extends './base.html'%}
{%block title%} {%endblock%}
{%block stylesheet%}
<style>
  .header{
   width:800px;
   margin:0 auto;
   text-align: center;
  }
  .main,.footer{
    text-align: left;
  }
  .license,.footer{
    margin-top:100px;
  }
</style>
{%endblock%}

{%block main%}
<div class="header">
  <h1>koa-generator-postbird | koa2 开发脚手架</h1>
  <hr>
  <div class="main">
    <p style="color:#aaaaaa;">本页面使用了 nunjucks 的模板继承</p>
    <p>更多使用及脚手架信息请查看 github README:</p>
    <ul>
      <li><a href="https://github.com/postbird/koa-generator-postbird">https://github.com/postbird/koa-generator-postbird</a></li>
    </ul>
    <p class="license">License:MIT</p>
  </div>
  <div class="footer">
    by postbird - <a href="http://www.ptbird.cn">http://www.ptbird.cn</a>
  </div>
</div>


{%endblock%}

{%block script%} {%endblock%}